[project]
	description = Golo Language Development Tools (Eclipse)
[access "refs/*"]
	owner = group user/Jeff MAURY (jeffmaury)
[access "refs/for/refs/*"]
	read = group user/Jeff MAURY (jeffmaury)
	push = group user/Jeff MAURY (jeffmaury)
	label-Code-Review = -2..+2 group user/Jeff MAURY (jeffmaury)
	label-Verified = -1..+1 group user/Jeff MAURY (jeffmaury)
	rebase = group user/Jeff MAURY (jeffmaury)
	removeReviewer = group user/Jeff MAURY (jeffmaury)
	submit = group user/Jeff MAURY (jeffmaury)
[access "refs/heads/*"]
	read = group user/Jeff MAURY (jeffmaury)
	create = group user/Jeff MAURY (jeffmaury)
	push = +force group user/Jeff MAURY (jeffmaury)
	pushMerge = group user/Jeff MAURY (jeffmaury)
[access "refs/tags/*"]
	push = +force group user/Jeff MAURY (jeffmaury)
	pushTag = group user/Jeff MAURY (jeffmaury)
	pushSignedTag = group user/Jeff MAURY (jeffmaury)
